<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>052213B6-6A87-4273-BD47-E25648A68199</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AEacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ebreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gbreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ibreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Itilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nhookleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Obreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohungarumlaut.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslashacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Racute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ugrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhungarumlaut.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Umacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uring.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Utilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wdieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wgrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ycircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ygrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ymacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ytilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.adieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aeacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.agrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.amacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.angle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anticlockwiseOpenCircleArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aring.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.atilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bitcoin.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bowl.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brick.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.clockwiseOpenCircleArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonsign.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.coproduct.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downBlackSmallTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downBlackTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ebreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.egrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightsuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.element.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equivalence.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.etilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.existential.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fiveeighths.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fiveinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivesuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fourinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.foursuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gbreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gradient.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ibreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.icircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotless.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.igrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ij.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.imacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.increment.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.integral.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ldot.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftAndRightArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrowTipDown.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrowTipUp.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftBlackSmallTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftBlackTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftHookArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftRightArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.literSign.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicaland.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalor.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.micro.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nhookleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nineinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninesuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northEastArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northWestArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ntilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ograve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohungarumlaut.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oneeighth.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oneinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onethird.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslashacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.product.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.proportion.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.racute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightBlackSmallTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightBlackTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightHookArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightOverLeftArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightTipDownArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightTipUpArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seveneighths.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seveninferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sevensuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixsuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softhyphen.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.southEastArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.southWestArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.subset.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcommaaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.therefore.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threeeighths.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threeinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.triangularbullet.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twoinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twothirds.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ubreve.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ucircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udotbelow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ugrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhungarumlaut.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.umacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.universal.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upBlackSmallTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upBlackTriangle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upDownArrow.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uring.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.utilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.versicle.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wcircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wdieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wgrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ycircumflex.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydieresis.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ygrave.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ymacron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ytilde.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zacute.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zcaron.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zdotaccent.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeroinferior.alt1</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerosuperior.alt1</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
