<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.alt3</key>
    <string>A_.alt3.glif</string>
    <key>B.alt3</key>
    <string>B_.alt3.glif</string>
    <key>C.alt3</key>
    <string>C_.alt3.glif</string>
    <key>D.alt3</key>
    <string>D_.alt3.glif</string>
    <key>E.alt3</key>
    <string>E_.alt3.glif</string>
    <key>F.alt3</key>
    <string>F_.alt3.glif</string>
    <key>G.alt3</key>
    <string>G_.alt3.glif</string>
    <key>H.alt3</key>
    <string>H_.alt3.glif</string>
    <key>I.alt3</key>
    <string>I_.alt3.glif</string>
    <key>J.alt3</key>
    <string>J_.alt3.glif</string>
    <key>K.alt3</key>
    <string>K_.alt3.glif</string>
    <key>L.alt3</key>
    <string>L_.alt3.glif</string>
    <key>M.alt3</key>
    <string>M_.alt3.glif</string>
    <key>N.alt3</key>
    <string>N_.alt3.glif</string>
    <key>O.alt3</key>
    <string>O_.alt3.glif</string>
    <key>P.alt3</key>
    <string>P_.alt3.glif</string>
    <key>Q.alt3</key>
    <string>Q_.alt3.glif</string>
    <key>R.alt3</key>
    <string>R_.alt3.glif</string>
    <key>S.alt3</key>
    <string>S_.alt3.glif</string>
    <key>T.alt3</key>
    <string>T_.alt3.glif</string>
    <key>U.alt3</key>
    <string>U_.alt3.glif</string>
    <key>V.alt3</key>
    <string>V_.alt3.glif</string>
    <key>W.alt3</key>
    <string>W_.alt3.glif</string>
    <key>X.alt3</key>
    <string>X_.alt3.glif</string>
    <key>Y.alt3</key>
    <string>Y_.alt3.glif</string>
    <key>Z.alt3</key>
    <string>Z_.alt3.glif</string>
    <key>a.alt3</key>
    <string>a.alt3.glif</string>
    <key>asterisk.alt3</key>
    <string>asterisk.alt3.glif</string>
    <key>b.alt3</key>
    <string>b.alt3.glif</string>
    <key>c.alt3</key>
    <string>c.alt3.glif</string>
    <key>d.alt3</key>
    <string>d.alt3.glif</string>
    <key>e.alt3</key>
    <string>e.alt3.glif</string>
    <key>eight.alt3</key>
    <string>eight.alt3.glif</string>
    <key>f.alt3</key>
    <string>f.alt3.glif</string>
    <key>five.alt3</key>
    <string>five.alt3.glif</string>
    <key>four.alt3</key>
    <string>four.alt3.glif</string>
    <key>g.alt3</key>
    <string>g.alt3.glif</string>
    <key>h.alt3</key>
    <string>h.alt3.glif</string>
    <key>hyphen.alt3</key>
    <string>hyphen.alt3.glif</string>
    <key>i.alt3</key>
    <string>i.alt3.glif</string>
    <key>j.alt3</key>
    <string>j.alt3.glif</string>
    <key>k.alt3</key>
    <string>k.alt3.glif</string>
    <key>l.alt3</key>
    <string>l.alt3.glif</string>
    <key>m.alt3</key>
    <string>m.alt3.glif</string>
    <key>n.alt3</key>
    <string>n.alt3.glif</string>
    <key>nine.alt3</key>
    <string>nine.alt3.glif</string>
    <key>numbersign.alt3</key>
    <string>numbersign.alt3.glif</string>
    <key>o.alt3</key>
    <string>o.alt3.glif</string>
    <key>one.alt3</key>
    <string>one.alt3.glif</string>
    <key>p.alt3</key>
    <string>p.alt3.glif</string>
    <key>period.alt3</key>
    <string>period.alt3.glif</string>
    <key>q.alt3</key>
    <string>q.alt3.glif</string>
    <key>r.alt3</key>
    <string>r.alt3.glif</string>
    <key>s.alt3</key>
    <string>s.alt3.glif</string>
    <key>seven.alt3</key>
    <string>seven.alt3.glif</string>
    <key>six.alt3</key>
    <string>six.alt3.glif</string>
    <key>t.alt3</key>
    <string>t.alt3.glif</string>
    <key>three.alt3</key>
    <string>three.alt3.glif</string>
    <key>two.alt3</key>
    <string>two.alt3.glif</string>
    <key>u.alt3</key>
    <string>u.alt3.glif</string>
    <key>underscore.alt3</key>
    <string>underscore.alt3.glif</string>
    <key>v.alt3</key>
    <string>v.alt3.glif</string>
    <key>w.alt3</key>
    <string>w.alt3.glif</string>
    <key>x.alt3</key>
    <string>x.alt3.glif</string>
    <key>y.alt3</key>
    <string>y.alt3.glif</string>
    <key>z.alt3</key>
    <string>z.alt3.glif</string>
    <key>zero.alt3</key>
    <string>zero.alt3.glif</string>
  </dict>
</plist>
