<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
  </dict>
</plist>
