<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>419AFF86-50E8-4B94-A09B-5BE44DC20865</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt3</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt3</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
