<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D9425316-E744-4A6C-AD52-06163F5FA2DF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
