<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.alt4</key>
    <string>A_.alt4.glif</string>
    <key>B.alt4</key>
    <string>B_.alt4.glif</string>
    <key>C.alt4</key>
    <string>C_.alt4.glif</string>
    <key>D.alt4</key>
    <string>D_.alt4.glif</string>
    <key>E.alt4</key>
    <string>E_.alt4.glif</string>
    <key>F.alt4</key>
    <string>F_.alt4.glif</string>
    <key>G.alt4</key>
    <string>G_.alt4.glif</string>
    <key>H.alt4</key>
    <string>H_.alt4.glif</string>
    <key>I.alt4</key>
    <string>I_.alt4.glif</string>
    <key>J.alt4</key>
    <string>J_.alt4.glif</string>
    <key>K.alt4</key>
    <string>K_.alt4.glif</string>
    <key>L.alt4</key>
    <string>L_.alt4.glif</string>
    <key>M.alt4</key>
    <string>M_.alt4.glif</string>
    <key>N.alt4</key>
    <string>N_.alt4.glif</string>
    <key>O.alt4</key>
    <string>O_.alt4.glif</string>
    <key>P.alt4</key>
    <string>P_.alt4.glif</string>
    <key>Q.alt4</key>
    <string>Q_.alt4.glif</string>
    <key>R.alt4</key>
    <string>R_.alt4.glif</string>
    <key>S.alt4</key>
    <string>S_.alt4.glif</string>
    <key>T.alt4</key>
    <string>T_.alt4.glif</string>
    <key>U.alt4</key>
    <string>U_.alt4.glif</string>
    <key>V.alt4</key>
    <string>V_.alt4.glif</string>
    <key>W.alt4</key>
    <string>W_.alt4.glif</string>
    <key>X.alt4</key>
    <string>X_.alt4.glif</string>
    <key>Y.alt4</key>
    <string>Y_.alt4.glif</string>
    <key>Z.alt4</key>
    <string>Z_.alt4.glif</string>
    <key>a.alt4</key>
    <string>a.alt4.glif</string>
    <key>asterisk.alt4</key>
    <string>asterisk.alt4.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b.alt4</key>
    <string>b.alt4.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c.alt4</key>
    <string>c.alt4.glif</string>
    <key>d.alt4</key>
    <string>d.alt4.glif</string>
    <key>e.alt4</key>
    <string>e.alt4.glif</string>
    <key>eight.alt4</key>
    <string>eight.alt4.glif</string>
    <key>f.alt4</key>
    <string>f.alt4.glif</string>
    <key>five.alt4</key>
    <string>five.alt4.glif</string>
    <key>four.alt4</key>
    <string>four.alt4.glif</string>
    <key>g.alt4</key>
    <string>g.alt4.glif</string>
    <key>h.alt4</key>
    <string>h.alt4.glif</string>
    <key>hyphen.alt4</key>
    <string>hyphen.alt4.glif</string>
    <key>i.alt4</key>
    <string>i.alt4.glif</string>
    <key>j.alt4</key>
    <string>j.alt4.glif</string>
    <key>k.alt4</key>
    <string>k.alt4.glif</string>
    <key>l.alt4</key>
    <string>l.alt4.glif</string>
    <key>m.alt4</key>
    <string>m.alt4.glif</string>
    <key>n.alt4</key>
    <string>n.alt4.glif</string>
    <key>nine.alt4</key>
    <string>nine.alt4.glif</string>
    <key>numbersign.alt4</key>
    <string>numbersign.alt4.glif</string>
    <key>o.alt4</key>
    <string>o.alt4.glif</string>
    <key>one.alt4</key>
    <string>one.alt4.glif</string>
    <key>p.alt4</key>
    <string>p.alt4.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period.alt4</key>
    <string>period.alt4.glif</string>
    <key>q.alt4</key>
    <string>q.alt4.glif</string>
    <key>r.alt4</key>
    <string>r.alt4.glif</string>
    <key>s.alt4</key>
    <string>s.alt4.glif</string>
    <key>seven.alt4</key>
    <string>seven.alt4.glif</string>
    <key>six.alt4</key>
    <string>six.alt4.glif</string>
    <key>t.alt4</key>
    <string>t.alt4.glif</string>
    <key>three.alt4</key>
    <string>three.alt4.glif</string>
    <key>two.alt4</key>
    <string>two.alt4.glif</string>
    <key>u.alt4</key>
    <string>u.alt4.glif</string>
    <key>underscore.alt4</key>
    <string>underscore.alt4.glif</string>
    <key>v.alt4</key>
    <string>v.alt4.glif</string>
    <key>w.alt4</key>
    <string>w.alt4.glif</string>
    <key>x.alt4</key>
    <string>x.alt4.glif</string>
    <key>y.alt4</key>
    <string>y.alt4.glif</string>
    <key>z.alt4</key>
    <string>z.alt4.glif</string>
    <key>zero.alt4</key>
    <string>zero.alt4.glif</string>
  </dict>
</plist>
