<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EED7F50D-E8AA-460A-BADD-29697E744F9D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt4</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt4</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
