<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>67B24F10-9C2E-408E-A636-3BB324EA69E1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AEacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ebreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gbreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ibreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Itilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nhookleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Obreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohungarumlaut.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslashacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Racute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ugrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhungarumlaut.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Umacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uring.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Utilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wdieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wgrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ycircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ygrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ymacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ytilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.adieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aeacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.agrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.amacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.angle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anticlockwiseOpenCircleArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aring.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.atilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bitcoin.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bowl.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brick.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.clockwiseOpenCircleArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonsign.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.coproduct.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downBlackSmallTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.downBlackTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ebreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.egrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightsuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.element.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equivalence.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.etilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.existential.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fiveeighths.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fiveinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivesuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fourinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.foursuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gbreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gradient.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ibreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.icircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotless.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.igrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ij.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.imacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.increment.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.integral.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ldot.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftAndRightArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrowTipDown.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftArrowTipUp.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftBlackSmallTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftBlackTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftHookArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.leftRightArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.literSign.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicaland.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalor.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.micro.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nhookleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nineinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninesuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northEastArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northWestArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ntilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ograve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohungarumlaut.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oneeighth.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oneinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onethird.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslashacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.product.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.proportion.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.racute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightBlackSmallTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightBlackTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightHookArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightOverLeftArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightTipDownArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightTipUpArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seveneighths.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seveninferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sevensuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixsuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softhyphen.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.southEastArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.southWestArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.subset.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcommaaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.therefore.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threeeighths.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threeinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.triangularbullet.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twoinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twothirds.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ubreve.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ucircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udotbelow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ugrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhungarumlaut.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.umacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.universal.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upBlackSmallTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upBlackTriangle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upDownArrow.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uring.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.utilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.versicle.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wcircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wdieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wgrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ycircumflex.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydieresis.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ygrave.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ymacron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ytilde.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zacute.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zcaron.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zdotaccent.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeroinferior.alt5</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerosuperior.alt5</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
