<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>color.0</string>
      <string>glyphs.color.0</string>
    </array>
    <array>
      <string>color.1</string>
      <string>glyphs.color.1</string>
    </array>
    <array>
      <string>color.2</string>
      <string>glyphs.color.2</string>
    </array>
    <array>
      <string>color.5</string>
      <string>glyphs.color.5</string>
    </array>
    <array>
      <string>color.4</string>
      <string>glyphs.color.4</string>
    </array>
    <array>
      <string>color.7</string>
      <string>glyphs.color.7</string>
    </array>
    <array>
      <string>color.3</string>
      <string>glyphs.color.3</string>
    </array>
    <array>
      <string>color.8</string>
      <string>glyphs.color.8</string>
    </array>
  </array>
</plist>
