<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>03D8DE69-CAE6-4132-A21C-D8ABB5E0F9AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
