<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.alt2</key>
    <string>A_.alt2.glif</string>
    <key>B.alt2</key>
    <string>B_.alt2.glif</string>
    <key>C.alt2</key>
    <string>C_.alt2.glif</string>
    <key>D.alt2</key>
    <string>D_.alt2.glif</string>
    <key>E.alt2</key>
    <string>E_.alt2.glif</string>
    <key>F.alt2</key>
    <string>F_.alt2.glif</string>
    <key>G.alt2</key>
    <string>G_.alt2.glif</string>
    <key>H.alt2</key>
    <string>H_.alt2.glif</string>
    <key>I.alt2</key>
    <string>I_.alt2.glif</string>
    <key>J.alt2</key>
    <string>J_.alt2.glif</string>
    <key>K.alt2</key>
    <string>K_.alt2.glif</string>
    <key>L.alt2</key>
    <string>L_.alt2.glif</string>
    <key>M.alt2</key>
    <string>M_.alt2.glif</string>
    <key>N.alt2</key>
    <string>N_.alt2.glif</string>
    <key>O.alt2</key>
    <string>O_.alt2.glif</string>
    <key>P.alt2</key>
    <string>P_.alt2.glif</string>
    <key>Q.alt2</key>
    <string>Q_.alt2.glif</string>
    <key>R.alt2</key>
    <string>R_.alt2.glif</string>
    <key>S.alt2</key>
    <string>S_.alt2.glif</string>
    <key>T.alt2</key>
    <string>T_.alt2.glif</string>
    <key>U.alt2</key>
    <string>U_.alt2.glif</string>
    <key>V.alt2</key>
    <string>V_.alt2.glif</string>
    <key>W.alt2</key>
    <string>W_.alt2.glif</string>
    <key>X.alt2</key>
    <string>X_.alt2.glif</string>
    <key>Y.alt2</key>
    <string>Y_.alt2.glif</string>
    <key>Z.alt2</key>
    <string>Z_.alt2.glif</string>
    <key>a.alt2</key>
    <string>a.alt2.glif</string>
    <key>asterisk.alt2</key>
    <string>asterisk.alt2.glif</string>
    <key>b.alt2</key>
    <string>b.alt2.glif</string>
    <key>c.alt2</key>
    <string>c.alt2.glif</string>
    <key>d.alt2</key>
    <string>d.alt2.glif</string>
    <key>e.alt2</key>
    <string>e.alt2.glif</string>
    <key>eight.alt2</key>
    <string>eight.alt2.glif</string>
    <key>f.alt2</key>
    <string>f.alt2.glif</string>
    <key>five.alt2</key>
    <string>five.alt2.glif</string>
    <key>four.alt2</key>
    <string>four.alt2.glif</string>
    <key>g.alt2</key>
    <string>g.alt2.glif</string>
    <key>h.alt2</key>
    <string>h.alt2.glif</string>
    <key>hyphen.alt2</key>
    <string>hyphen.alt2.glif</string>
    <key>i.alt2</key>
    <string>i.alt2.glif</string>
    <key>j.alt2</key>
    <string>j.alt2.glif</string>
    <key>k.alt2</key>
    <string>k.alt2.glif</string>
    <key>l.alt2</key>
    <string>l.alt2.glif</string>
    <key>m.alt2</key>
    <string>m.alt2.glif</string>
    <key>n.alt2</key>
    <string>n.alt2.glif</string>
    <key>nine.alt2</key>
    <string>nine.alt2.glif</string>
    <key>numbersign.alt2</key>
    <string>numbersign.alt2.glif</string>
    <key>o.alt2</key>
    <string>o.alt2.glif</string>
    <key>one.alt2</key>
    <string>one.alt2.glif</string>
    <key>p.alt2</key>
    <string>p.alt2.glif</string>
    <key>period.alt2</key>
    <string>period.alt2.glif</string>
    <key>q.alt2</key>
    <string>q.alt2.glif</string>
    <key>r.alt2</key>
    <string>r.alt2.glif</string>
    <key>s.alt2</key>
    <string>s.alt2.glif</string>
    <key>seven.alt2</key>
    <string>seven.alt2.glif</string>
    <key>six.alt2</key>
    <string>six.alt2.glif</string>
    <key>t.alt2</key>
    <string>t.alt2.glif</string>
    <key>three.alt2</key>
    <string>three.alt2.glif</string>
    <key>two.alt2</key>
    <string>two.alt2.glif</string>
    <key>u.alt2</key>
    <string>u.alt2.glif</string>
    <key>underscore.alt2</key>
    <string>underscore.alt2.glif</string>
    <key>v.alt2</key>
    <string>v.alt2.glif</string>
    <key>w.alt2</key>
    <string>w.alt2.glif</string>
    <key>x.alt2</key>
    <string>x.alt2.glif</string>
    <key>y.alt2</key>
    <string>y.alt2.glif</string>
    <key>z.alt2</key>
    <string>z.alt2.glif</string>
    <key>zero.alt2</key>
    <string>zero.alt2.glif</string>
  </dict>
</plist>
