<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>42AD04F1-AF69-4D34-924A-76F49E3426F9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z.alt2</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.alt2</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
